#playground-editor-html-css-navigation::-webkit-scrollbar {
    display: none;
}

/* #playground-editor-html-css-navigation button{
    width: 50px;
    height: 45px;
}

@media screen and (min-width: 768px) {
    
} */